<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
    <title>News Box </title>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
<!-- partial:index.partial.html -->
<h1 style="margin-top:50px" align="center">Full Stack Application Development</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 offset-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>News</b></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                        <ul class="demo2">
                            <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                            <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                            <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                            <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                            <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                            <li class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim... <a href="#">Read more...</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"> </div>
            </div>
        </div>
    </div>

    <div class="col-md-offset-5">
        <div class="slider-width200 text-center">
            <input type="range" id="start" name="volume" min="0" max="1" step="1">
                <label for="volume">Volume</label>
        </div>
        <div class="slider-width200 text-center">
            <input type="range" id="cowbell" name="cowbell" min="0" max="1" step="1">
                <label for="cowbell">Cowbell</label>
        </div>
    </div>


        <div>
            <button type="button" class="pull-right btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-cog"></span> Submit
            </button>

            <button type="button" class="pull-left btn btn-success btn-lg">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>

        </div>



</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/scripts/jquery.bootstrap.newsbox.min.js'></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>



<script type="text/javascript">
    //handling of button and sending values to flask for submitting it to DB
</script>




</body>
</html>